<section id="about">
	<div class="container">
		<div class="page-header about-header"><p class="lead about-title">About Us</p></div>


			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p class="lead">About Us ::</p>
						</div>

						<div class="panel-body">
							<%= image_tag "other/welcome.jpg", class: "img-thumbnail myImg" %>
							<p> 
									Global EDUTECH Trading &amp; Consulting Sdn Bhd was established and incorporated since (2013). GETC specialized in the event promotion, Short term Training programs, Students Recruitment from Abroad, Seminars, Professional and Career training programs.
							</p>

							<p>
							GETC Provides career and academic counseling, planning, and advising to potential students utilizing specific knowledge gained of the university colleges, educational programs and degrees.
							</p>
							<p>
							Serves independently as territorial manager to develop and maintain partnerships between the universities and students trend systems throughout the assigned terrain.
							</p>

							<p>
							Train and assists students recruiters networks globally in the process of advising students and families concerning admission requirements, financial aid and scholarships, alternative educational opportunities as case maybe, and university policies and procedures of any institution chosen by the student.
							</p>

							<p>
							Manages and coordinates community workshops, retreats, and recruitment efforts, arranges visits and tours for prospective students, guidance and parents where necessary.
							</p>

							<p>
							GETC Agency is one of the leading international student recruitment agencies in South-East Asia (SEA) with over 10 years experience of consistently providing quality services to international students andan established brand name identical with professionalism and result oriented.
							</p>

							<p>
							GETC was established with a mission to bring world-class education closer to students coming from developing countries. In its endeavor to promote education, GETC worked towards bringing international education to the doorstep of the students. The trust of GETC is mainly directed to qualified students in the developing and third world nations to pursue their higher education in the fields of Arts, Humanities, Sciences and Technology from North Africa, West Africa, Middle-East and fix them to other European colleges and universities, which have the best educational facilities and infrastructure while our focus remain heavily in Malaysia.
							</p>

							<p>
							Our extensive portfolio of College and University partners includes over 50 of the most prestigious education institutions in Malaysia, Australia, UK, Canada, United States, UAE, Saudi Arebia, and Singapore. With over 5000 course choices in Vocational Educationand Training (VET), Higher Education (HE) and English Language courses (ELICOS) we have something for everybody and remain focus to make our students smile.
							</p>
						</div>
					</div>
				</div>

					<div class="col-md-4">
						<div class="panel panel-primary">
								<div class="panel-heading">
									<p class="lead">Our Mission::</p>
								</div>
							<div class="panel-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<p class="lead">GOALS AND STRATEGIC PROCESS ::</p>
							</div>
							
							<div class="panel-body">
								<p>Global EduTech Trading &amp; Consulting aims to assist students with their plans for higher education in many different countries. <br> We offer the following Services:

								<ul>
								<li>University/College Admissions</li>
								<li>Visa Guidance</li>
								</ul>

								We also try and cater to:
								<ul>
								<li>Offer of departure briefing</li>
								<li>Arrange meetings between students going to the same university</li>
								</ul>
										Assist visits to schools and other places when representatives of the Universities and Colleges are here, plus facilitate their meeting with parents of prospective students.
								</p>
							</div>
					</div>
				</div>
			</div>

	</div>
</section>