<div class="container">
    <div class="page-header">
        <h1 class="text-center">
            Our Approved Agents
        </h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4>Agency Name</h4>
                </div>

                <div class="panel-body">
                    <address>1555 Cottage Pl. <br> Montgomery AL. <br> 36101 USA</address>

                </div>
            </div>
        </div>
    </div>
</div>